<mat-toolbar color="primary">
  <span>Quest Flights</span>
</mat-toolbar>
<div class="workers-flight-container">

  <app-workers-list class="workers-list" [workers]="workers"
    (selectedWorkerChange)="setSelectedWorker($event)"></app-workers-list>
  <mat-divider vertical="true"></mat-divider>

  <app-workers-flights [flights]="flights" (selectedFlightChange)="setSelectedFligth($event)"></app-workers-flights>
  <mat-divider vertical="true"></mat-divider>

  <app-flight-information [flight]="selectedFlight"></app-flight-information>

</div>